Django==1.9.7
Pillow==3.2.0
PyYAML==3.11
coverage==4.1
django-crispy-forms==1.6.0
django-extensions==1.6.7
django-filter==0.13.0
django-guardian==1.4.4
django-rest-swagger==0.3.7
djangorestframework==3.3.3
factory-boy==2.6.0
fake-factory==0.5.7
mock==2.0.0
mock-django==0.6.10
numpy==1.11.0
pbr==1.10.0
pip==8.1.2
psycopg2==2.6.1
python-dateutil==2.5.3
setuptools==23.0.0
six==1.10.0
wheel==0.29.0
django-fsm==2.4.0